/* #ECEBE4 Sand
#CC998D Brown
#16F4D0 Cyan
#429EA6 Green blue
#153B50 Navy Blue */


:root {
  /* margin: 0; */
  border: 0;
  padding: 0;
  display: block;
  --navy-blue: #153B50;
  --sand: #ECEBE4;
  --brown: #CC998D;
  --cyan: #16F4D0;
  --green-blue: #429EA6;
  background-color: var(--sand);
}


input {
  padding: 6px;
  display: inline-block;
  border:none;
}

.FieldLabel {
  font-size: 16pt;
  padding: 4px;
  display: inline-block;
}

/*
=============================================================================
Register file CSS
=============================================================================
*/
#AuthBox {
  background-color: var(--green-blue);
  border-radius: 5px;
  text-align: center;
  margin: 10% auto;
  box-shadow: 5px 10px 30px #888888 ;
}

.LoginForm {
  color: var(--navy-blue);
}

.subsection1 > input {
  margin-bottom: 10px;
}

/* input[name=name] {
  width: 50%;
}

input[name=email] {
  width: 25%;
}

input[name=phone] {
  width: 20%;
}

input[name=address] {
  width: 50%;
}

input[name=city] {
  width: 25%;
}

input[name=zipcode] {
  width: 10%;
}

input[name=state] {
  width: 10%;
} */




input[name=register] {
  background-color: none;
  color:var(--navy-blue);
  border:var(--navy-blue);
  border-radius: 5px;
  margin: 3%;
  padding: 5%;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
