{% extends "layout.html" %}
{% block body %}
	<div class="nav-container">
		<div class="nav-logo">
			<img src="/static/healthie-us_logo.png" />
		</div>
		<div class="nav-contents">
			<ul>
				<li><a href="/records">Records</a></li>
				<!-- <li><a href="/fitbit">Fitbit</a></li> -->
				<li><a href="/schedule">Schedule</a></li>
				<li><a href="/communicate">Communicate</a></li>
			</ul>
		</div>
	</div>
	<div class="app">
		<div class="app-content">
			{% block content %} {% endblock %}
		</div>
	</div>
{% endblock %}