{% extends "layout.html" %}
{% block body %}
<!--	<table style="margin:auto; text-align:center; border-style:solid; border-width:1px;">
		<tr>
			<td colspan="2" style="border-style:solid; border-width:1px;"><h1><img src="\static\healthie-us_name.png" alt="healthie.us" style="width:50%;"></h1></td>
		</tr>
		<tr>
			<td style="border-style:solid; border-width:1px; width:40%;"><div>Connecting patients and their doctors</div></td>
			<td style="border-style:solid; border-width:1px; width:60%;"><img src="\static\healthie-us_logo.png" alt="logo" style="width:50%;"></td>
		</tr>
	</table>  -->
	
	<!--style="text-align: center;"-->
	<br>
		<img src="\static\healthie-us_splash.png" alt="healthie.us" style="border: 1px solid #f00; position: absolute; width:50%; left:25%; z-index:-2;">
		<img src="\static\healthie-us_btn_login.png" alt="healthie.us" style="border: 1px solid #0f0; position: absolute; width:10%; left:35%; z-index:-1;">
		<!--<img src="\static\healthie-us_btn_login.png" alt="healthie.us" style="border: 1px solid #0f0; position: relative; width:10%; z-index:-1; top: -100px; left:100px;">-->
	

	<!--<div style="position: relative; bottom: 10%; left: 30%;">
		<h2><img src="\static\healthie-us_btn_login.png" alt="Log in" style="width:100%; z-index:1"></h2>
	</div>-->
	<!--<h1><img src="\static\healthie-us_name.png" alt="healthie.us" style="width:80%; display:block; margin-left:auto; margin-right:auto; "></h1>
	<div>Connecting patients and their doctors</div>-->
{% endblock %}