{% extends "layout.html" %}
{% block body %}
<!--	<table style="margin:auto; text-align:center; border-style:solid; border-width:1px;">
		<tr>
			<td colspan="2" style="border-style:solid; border-width:1px;"><h1><img src="\static\healthie-us_name.png" alt="healthie.us" style="width:50%;"></h1></td>
		</tr>
		<tr>
			<td style="border-style:solid; border-width:1px; width:40%;"><div>Connecting patients and their doctors</div></td>
			<td style="border-style:solid; border-width:1px; width:60%;"><img src="\static\healthie-us_logo.png" alt="logo" style="width:50%;"></td>
		</tr>
	</table>  -->
	
	<!--style="text-align: center;"-->
	<div style="margin-top:20px">
		<img src="\static\healthie-us_splash.png" alt="healthie.us" style="position: absolute; width:50%; left:25%; z-index:-2;">
		<a href="login"><img src="\static\healthie-us_btn_login.png" alt="Log in" style="position: absolute; width:10%; left:29%; margin-top:18%; z-index:-1;"></a>
		<a href="register"><img src="\static\healthie-us_btn_register.png" alt="Register" style="position: absolute; width:10%; left:42%; margin-top:18%; z-index:-1;"></a>
	</div>
	<div style="margin-top:30%; position: absolute; width:50%; left:25%; font-family:'verdana'; color:#429EA6;">
		<!--<div class="w3-row">
			<div class="w3-rest"><h2 style="text-align:center; font-family:'verdana'; font-style:italic; color:#429EA6;">Third party network</h2></div>
		</div>-->
		<div class="w3-row">
			<div class="w3-col" style="width:66%">
				<div class="w3-row">
					<p>Powered by:</p>
				</div>
				<div class="w3-row">
					<div class="w3-col" style="width:50%">
						<img src="\static\network-agora-io.svg" alt="agora.io" style="max-width:120px">
					</div>
					<div class="w3-col" style="width:50%">
						<img src="\static\network-trulioo.png" alt="Trulioo" style="max-width:100px">
					</div>
				</div>
			</div>
			<div class="w3-col" style="width:33%">
				<!--<div class="w3-row">
					<p>Integration with:</p>
				</div>
				<div class="w3-row">
					<div class="w3-col" style="width:100%">
						<img src="\static\network-fitbit.svg" alt="Fitbit" style="max-width:120px">
					</div>
				</div>-->
			</div>
			
			
			
			<!--
			<div class="w3-col" style="width:33%">
				<p>Powered by</p>
				<img src="\static\network-agora-io.svg" alt="agora.io" style="max-width:120px">
			</div>
			<div class="w3-col" style="width:33%">
				<p>Powered by</p>
				<img src="\static\network-trulioo.png" alt="Trulioo" style="max-width:100px">
			</div>
			<div class="w3-col" style="width:33%">
				<p>Integration with</p>
				<img src="\static\network-fitbit.svg" alt="Fitbit" style="max-width:120px">
			</div>-->
		</div>
	</div>
	<!--
		<table style="margin-top:30%; position: absolute; width:50%; left:25%;">
			<tr>
				<td colspan=5>
					<h2 style="text-align:center; font-family:'verdana'; font-style:italic; color:#429EA6;">Some text here</h2>
				</td>
			</tr>
			<tr>
				<td>Powered by<br>
					<img src="\static\network-agora-io.svg" alt="agora.io" style="position: absolute; width:10%;">
				</td>
				<td>Supports integration with the Fitbit® Platform<br>
					<img src="\static\network-fitbit.svg" alt="Fitbit" style="position: absolute; width:10%;">
				</td>
				<td>C</td>
				<td>D</td>
				<td>E</td>
			</tr>
		</table>-->
	</div>
		
		<!--<img src="\static\healthie-us_btn_login.png" alt="healthie.us" style="border: 1px solid #0f0; position: relative; width:10%; z-index:-1; top: -100px; left:100px;">-->
	

	<!--<div style="position: relative; bottom: 10%; left: 30%;">
		<h2><img src="\static\healthie-us_btn_login.png" alt="Log in" style="width:100%; z-index:1"></h2>
	</div>-->
	<!--<h1><img src="\static\healthie-us_name.png" alt="healthie.us" style="width:80%; display:block; margin-left:auto; margin-right:auto; "></h1>
	<div>Connecting patients and their doctors</div>-->
{% endblock %}