{% extends "layout.html" %}
{% block body %}
<div class="w3-container w3-third"></div>
	<div id="AuthBox" class="w3-container w3-third">
		<h1>Register</h1>
		<form class="LoginForm" method="post">
			<div class="w3-row-padding">
				<!-- <div class="FieldLabel">Name</div> -->
					<input class="w3-col" type="text" name="firstname" placeholder="First Name" />
					<input class="w3-col" type="text" name="lastname" placeholder="Last Name" />
				<!-- <div class="FieldLabel">Phone</div> -->
					<input class="w3-col" type="tel" placeholder="Phone" name="phone" />
			</div>
			<div class="w3-row-padding">
			<!-- <div class="FieldLabel">Email</div> -->
				<input class="w3-col" type="email" placeholder="email@domain.com" name="email" />
			</div>
			<!-- <div class="subsection1"> -->
			<div class="w3-row-padding">
				<!-- <div class="FieldLabel">Address</div> -->
				<input class="w3-col" type="text" placeholder="Address" name="address" />
				<!-- <div class="FieldLabel">City</div> -->
				<input class="w3-col" type="text" placeholder="City" name="city" />
				<!-- <div class="FieldLabel">State</div> -->
				<input class="w3-col" type="text" placeholder="State" name="state" />
				<!-- <div class="FieldLabel">Zipcode</div> -->
				<input class="w3-col" type="text" placeholder="ZIP" name="zipcode" />
			</div>
			<div class="w3-row-padding">
				<!-- <div class="FieldLabel">Username</div> -->
				<input class="w3-col" type="text" placeholder="Type your username" name="username" />
				<!-- <div class="FieldLabel">Password</div> -->
				<input class="w3-col" type="password" placeholder="Enter your password" name="password" />
				<!-- <div class="FieldLabel">Verify Password</div> -->
				<input class="w3-col" type="password" placeholder="Re-enter your password" name="password2" />
			</div>
			<br/>
			<input class="w3-round-small" type="submit" name="register" value="Register"/>
		</form>
	</div>
<div class="w3-container w3-third"></div>
{% endblock %}
